services:
  token-manager:
    command: ["python", "main.py"]
    ports:
      - "8080:8080"

  prometheus:
    ports:
      - "9090:9090"

  grafana:
    ports:
      - "3001:3000"

  loki:
    ports:
      - "3100:3100"
